{% extends 'base/base.html'%}
{% load static %}
{% block title%} Venta {% endblock%}
{%block mn%}
    <form action="" method="post">{% csrf_token %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="alert alert-info" role="alert">
                Editando servicio "{{ lineaServicio.servicio }}" de la venta
                </div>
            </li>
        </ul>
        <br>
        <div class="form-row">

            <div class="col-md-4 mb-3">
              <label for="servicio">Servicio</label>
              <select class="custom-select" id="servicio" name="servicio" required>
                <option value="{{ lineaServicio.servicio }}">{{ lineaServicio.servicio }}</option>
                {% for s in servicios %}
                    {% if s == lineaServicio.servicio %}
                    {% else %}
                <option value="{{ s.nombre }}">{{ s.nombre }}</option>
                    {% endif  %}
                {% endfor %}
              </select>
    
            </div>
    
            <div class="col-md-4 mb-3">
              <label for="colaborador">Colaborador</label>
              <select class="custom-select" id="colaborador" name="colaborador" required>
                <option value="{{ lineaServicio.colaborador.last_name }}">{{ lineaServicio.colaborador.first_name }} {{ lineaServicio.colaborador.last_name }}</option>
            {% for c in colaboradores %}
                {% if c.last_name == lineaServicio.colaborador.last_name and c.first_name == lineaServicio.colaborador.first_name %}
                {% else %}
            <option value="{{ c.last_name }}">{{ c.first_name }} {{ c.last_name }}</option>
                {% endif  %}
            {% endfor %}
              </select>
    
            </div>
    
        </div>
    
    
        <div class="form-row">
            <div class="col-md-3 mb-3">
              <label for="precio">Precio ($)</label>
              <input type="text" class="form-control" id="precio" name="precio" value="{{ lineaServicio.precio }}"
                     onchange="hacerDescuento()" required>
            </div>
    
    
            <div class="mb-3 col-md-2">
              <label for="descuento">Descuento (%)</label>
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input" onClick="habilitar()" >
                </div>
                  <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder=""
                         name="descuento" id="descuento" value="{{ lineaServicio.descuento }}"
                         onchange="hacerDescuento()" >
              </div>
            </div>
    
            <div class="col-md-3 mb-3">
              <label for="nuevoprecio">Precio final ($)</label>
              <input type="text" class="form-control" id="nuevoprecio" name="nuevoprecio" value="{{ lineaServicio.nuevoPrecio }}"  required>
            </div>
    
        </div>
    
    
      <div class="form-row">
          <div class="col-md-8 mb-3">
            <label for="descripcion">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" value="{{ lineaServicio.descripcion }}" rows="3" required></input>
          </div>
      </div>
      <button class="btn btn-primary" type="submit">Guardar</button>
      <a class="btn btn-outline-danger" href="{% url 'venta:venta_edit' venta.id %}" role="button">Atrás</a>
      
    </form>

<script>
    function habilitar(){
        var desc = document.getElementById('descuento');
        desc.disabled = !desc.disabled
    }

    function hacerDescuento(){
        var precio = document.getElementById('precio');
        var desc = document.getElementById('descuento');
        var nuevoPrecio = document.getElementById('nuevoprecio');

        if(desc.value.length != 0 && precio.value.length != 0){
            n = precio.value - precio.value * desc.value / 100;
            nuevoPrecio.value = parseFloat(n).toFixed(2);

        }

        if(precio.value.length != 0){
            precio.value = parseFloat(precio.value).toFixed(2);
        }
    }
</script>

{% endblock %}