{% extends 'base/base.html'%}
{% load static %}
{% block title%} Venta {% endblock%}
{%block mn%}

<form action="" method="post">{% csrf_token %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="alert alert-info" role="alert">
            Editando producto "{{ lineaProducto.producto.nombre }}" de la venta
            </div>
        </li>
    </ul>
    <br>
    <div class="form-row">

            <div class="col-md-4 mb-3">
              <label for="producto">Producto</label>
              <select class="custom-select" name="producto" id="producto" onchange="obtenerPrecio()" required>
                <option value="{{ lineaProducto.producto.id }}" id="{{ lineaProducto.producto.precio }}">{{ lineaProducto.producto.nombre }}</option>
                {% for p in productos %}
                    {% if p.nombre ==  lineaProducto.producto.nombre %}
                    {% else %}
                <option value="{{ p.id }}" id="{{ p.precio }}">{{ p.nombre }}</option>
                    {% endif  %}
                {% endfor %}
              </select>
            </div>

        <div class="col-md-2 mb-3">
            <label for="cantidad">Cantidad</label>
                <input type="text" class="form-control" name="cantidad" id="cantidad" value="{{ lineaProducto.cantidad }}" onchange="obtenerPrecio()" required>
        </div>

              <div class="col-md-2 mb-3">
          <label for="subtotal">Subtotal ($)</label>
          <input type="text" class="form-control" id="subtotal" name="subtotal" value="{{ lineaProducto.subtotal }}" required>
        </div>
    </div>


    <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="precio">Precio Unitario ($)</label>
          <input type="text" class="form-control" id="precio" name="precio" value="{{ lineaProducto.producto.precio }}" required disabled>
        </div>


        <div class="mb-3 col-md-2">
          <label for="descuento">Descuento (%)</label>
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input" onClick="habilitar()" >
            </div>
              <input type="text" class="form-control" aria-label="Text input with checkbox" placeholder=""
                     onchange="hacerDescuento()" name="descuento" id="descuento" value="{{ lineaProducto.descuento }}" required>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <label for="nuevoprecio">Nuevo Subtotal ($)</label>
          <input type="text" class="form-control" id="nuevoprecio" name="nuevoprecio" value="{{ lineaProducto.nuevoPrecio }}"  required>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <a class="btn btn-outline-danger"  href="{% url 'venta:venta_edit' venta.id %}" role="button">Atrás</a>
</form>
<script>
    function habilitar(){
        var desc = document.getElementById('descuento');
        desc.disabled = !desc.disabled
    }
    //Obtener subtotal
    function obtenerPrecio(){
        var productos = document.getElementById('producto');
        var precioProducto = productos.options[productos.selectedIndex].id;

        var precio = document.getElementById('precio');
        precio.value = precioProducto

        var cantidad = document.getElementById('cantidad');
        var subtotal = document.getElementById('subtotal');

        if(cantidad.value.length != 0 && precio.value.length != 0){
            subtotal.value = parseFloat(cantidad.value * precioProducto).toFixed(2);
        }

    }

    function hacerDescuento(){
        var desc = document.getElementById('descuento');
        var nuevoPrecio = document.getElementById('nuevoprecio');
        var subtotal = document.getElementById('subtotal');

        console.log(desc.value)
        console.log(nuevoPrecio.value)
        console.log(subtotal.value)

        if(desc.value.length != 0 && subtotal.value.length != 0){
            nuevoPrecio.value = parseFloat(subtotal.value - subtotal.value * desc.value / 100).toFixed(2);

        }
    }
</script>
{% endblock %}
