{% extends 'base/base.html'%}
{% load static %}
{% block title%} Venta {% endblock%}
{% block mn %}

    <form action="" method="post">{% csrf_token %}
        <h1>¿Desea eliminar el producto "{{ lineaProducto.producto.nombre }}" de la venta?</h1>
        <h4>Producto: {{ lineaProducto.producto.nombre }}</h4>
        <h4>Cantidad: {{ lineaProducto.cantidad }}</h4>
        <h4>Precio: {{ lineaProducto.producto.precio }}</h4>
        <h4>Descuento: {{ lineaProducto.descuento }}</h4>
        <h4>Precio final: {{ lineaProducto.nuevoPrecio }}</h4>
        <h4>Subtotal: {{ lineaProducto.subtotal }}</h4>
        <li class="list-group-item">
            <button type="submit" class="btn btn-danger" >Eliminar</button>
            <a class="btn btn-outline-danger" href="{% url 'venta:venta_edit' venta.id %}" role="button">Atrás</a>
  </button>
    </form>

{% endblock %}
