<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">{% csrf_token %}
    <h1>¿Desea eliminar la venta del cliente "{{ venta.cliente }}"?</h1>
    <button type="submit">Eliminar</button>
    <br><br>
</form>

Código: {{ venta.codigo }} <br>
Fecha: {{ venta.fecha }}<br>
Cliente: {{ venta.cliente }} <br>
TOTAL: {{ venta.total }}

<h1>Servicios</h1>
<table>
     <tr>
        <th>Servicio</th>
        <th>Colaborador</th>
        <th>Precio</th>
        <th>Descuento</th>
        <th>Precio final</th>
        <th>Descripcion</th>
    </tr>
    {% for ls in lineasServicio %}
    <tr>
        <td>{{ ls.servicio }}</td>
        <td>{{ ls.colaborador }}</td>
        <td>{{ ls.precio }}</td>
        <td>{{ ls.descuento }}</td>
        <td>{{ ls.nuevoPrecio }}</td>
        <td>{{ ls.descripcion }}</td>
    </tr>
    {% endfor %}
</table>


    <h1>Productos</h1>
<table>
     <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Descuento</th>
        <th>Precio final</th>
        <th>Subtotal</th>
    </tr>
    {% for lp in lineasProducto %}
    <tr>
        <td>{{ lp.producto.nombre }}</td>
        <td>{{ lp.cantidad }}</td>
        <td>{{ lp.producto.precio }}</td>
        <td>{{ lp.descuento }}</td>
        <td>{{ lp.nuevoPrecio }}</td>
        <td>{{ lp.subtotal }}</td>
    </tr>
    {% endfor %}
</table>


</body>
</html>