<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Código: {{ venta.codigo }} <br>
Fecha: {{ venta.fecha }}<br>
Cliente: {{ venta.cliente }} <br>
TOTAL: $ {{ venta.total }}<br><br>

<a href="{% url 'venta:venta_list' %}">Atrás</a><br>

{% if lineasServicio %}
    <h1>Servicios</h1>
    <table>
     <tr>
        <th>Servicio</th>
        <th>Colaborador</th>
        <th>Precio</th>
        <th>Descuento</th>
        <th>Precio final</th>
        <th>Descripcion</th>

    </tr>
    {% for ls in lineasServicio %}
    <tr>
        <td>{{ ls.servicio }}</td>
        <td>{{ ls.colaborador.first_name }} {{ ls.colaborador.last_name }}</td>
        <td>{{ ls.precio }}</td>
        <td>{{ ls.descuento }}</td>
        <td>{{ ls.nuevoPrecio }}</td>
        <td>{{ ls.descripcion }}</td>

    </tr>
    {% endfor %}
</table>
{% endif %}

{% if lineasProducto %}
    <h1>Productos</h1>
    <table>
     <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Descuento</th>
        <th>Precio final</th>
        <th>Subtotal</th>
    </tr>
    {% for lp in lineasProducto %}
    <tr>
        <td>{{ lp.producto.nombre }}</td>
        <td>{{ lp.cantidad }}</td>
        <td>{{ lp.producto.precio }}</td>
        <td>{{ lp.descuento }}</td>
        <td>{{ lp.nuevoPrecio }}</td>
        <td>{{ lp.subtotal }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

</body>
</html>