<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nueva venta</title>
</head>
<body>
    <form action="" method="post">{% csrf_token %}

        Cliente <input type="text" name="cliente" size="100" value="" required><br><br>
        Código: {{codigo}}<br><br>
        TOTAL: $ {{ venta.total }} <br><br>
        <a href="{% url 'venta:lineaServicio_create' venta.id %}">Agregar Servicio</a><br><br>

        <a href="{% url 'venta:lineaProducto_create' venta.id %}">Agregar Producto</a><br><br>

        <button type="submit">Finalizar</button>

        <a href="{% url 'venta:venta_list_delete' venta.id %}">Cancelar</a><br>
    </form>

{% if lineasServicio %}
<h1>Servicios</h1>
<table>
     <tr>
        <th>Servicio</th>
        <th>Colaborador</th>
        <th>Precio</th>
        <th>Descuento</th>
        <th>Precio final</th>
        <th>Descripcion</th>
        <th colspan="2" >Acciones</th>
    </tr>
    {% for ls in lineasServicio %}
    <tr>
        <td>{{ ls.servicio }}</td>
        <td>{{ ls.colaborador.first_name }} {{ ls.colaborador.last_name }}</td>
        <td>{{ ls.precio }}</td>
        <td>{{ ls.descuento }}</td>
        <td>{{ ls.nuevoPrecio }}</td>
        <td>{{ ls.descripcion }}</td>
        <td><a href="{% url 'venta:lineaServicio_edit' ls.id %}">Editar</a></td>
        <td><a href="{% url 'venta:lineaServicio_delete' ls.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if lineasProducto %}
<h1>Productos</h1>
<table>
     <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Descuento</th>
        <th>Precio final</th>
        <th>Subtotal</th>
        <th colspan="2" >Acciones</th>
    </tr>
    {% for lp in lineasProducto %}
    <tr>
        <td>{{ lp.producto.nombre }}</td>
        <td>{{ lp.cantidad }}</td>
        <td>{{ lp.producto.precio }}</td>
        <td>{{ lp.descuento }}</td>
        <td>{{ lp.nuevoPrecio }}</td>
        <td>{{ lp.subtotal }}</td>
        <td><a href="{% url 'venta:lineaProducto_edit' lp.id %}">Editar</a></td>
        <td><a href="{% url 'venta:lineaProducto_delete' lp.id %}">Eliminar</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

</body>
<script src="{% static 'js/venta_create.js' %}"></script>
</html>