
{% extends 'base/base.html'%}
{% load static %}
{% block title%} {{ venta.codigo }} {% endblock%}
{%block mn%}
<h5>Código: {{ venta.codigo }}</h5>
<h5>Fecha: {{ venta.fecha }}</h5>
<h5>Cliente: {{ venta.cliente }}</h5>


{% if lineasServicio %}
<h2>Servicios</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Servicio</th>
        <th scope="col">Colaborador</th>
        <th scope="col">Precio</th>
        <th scope="col">Descuento</th>
        <th scope="col">Precio final</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>
    <tbody>
        {% for ls in lineasServicio %}
        <tr>
            <td>{{ ls.servicio }}</td>
            <td>{{ ls.colaborador.first_name }} {{ ls.colaborador.last_name }}</td>
            <td>{{ ls.precio }}</td>
            <td>{{ ls.descuento }}</td>
            <td>{{ ls.nuevoPrecio }}</td>
            <td>{{ ls.descripcion }}</td>
    
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if lineasProducto %}
<h2>Productos</h2>
    <table class="table table-striped">
    <thead>
     <tr>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Descuento</th>
        <th scope="col">Precio final</th>
        <th scope="col">Subtotal</th>
    </tr>
    </thead>
    {% for lp in lineasProducto %}
    <tr>
        <td>{{ lp.producto.nombre }}</td>
        <td>{{ lp.cantidad }}</td>
        <td>{{ lp.producto.precio }}</td>
        <td>{{ lp.descuento }}</td>
        <td>{{ lp.nuevoPrecio }}</td>
        <td>{{ lp.subtotal }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<br>
<h4>TOTAL: $ {{ venta.total }}</h4><br><br>
<button class="btn btn-outline-primary"><a  href="{% url 'venta:venta_list' %}">
<i class="fas fa-arrow-alt-circle-left"></i> Atrás</a></button>


{% endblock %}